// Import Google fonts

// Define fonts for body and headers


// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

@font-face {
   font-family: 'Nouvelle Garde';
   src: url('NOUVELLEGARDE-Regular.otf')
}

@font-face {
   font-family: 'Aleo';
   src: url('Aleo-Regular.otf')
}

@font-face {
   font-family: 'Aleo Bold';
   src: url('Aleo-Bold.otf')
}

@font-face {
   font-family: 'Nickson';
   src: url('S&S-Nickson-One.otf')
}
